<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio módulo 4</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> creo que esto no es necesario -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css">
</head>

<body>

<!-- ===========================================HEADER===================================================   -->
<header class="main-header">
<!-- top bar --> 
<div class="main-header-top-bar">
    
     <img src='/img/logo-mercado-liebre.svg' class="logo"> 

<!--barra de búsqueda -->
         <form  class="barra-de-busqueda-form" action="" method="post" target="_blank">
            <fieldset class="barra-de-busqueda-fieldset"> 
                <input type="search" id="search" placeholder="Buscar productos, marcas">
                <span class="icono-busqueda"><i class="fa fa-search"></i></span>
            </fieldset>
    </form> 
    
    <div class="div-copy-header">
        <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
</div>



<!-- boton hamburguesa -->
<a href="#" class="boton-hamburguesa"><i class="fas fa-bars"></i></a>

 <!-- barras de navegacion -->
 <nav class="main-navbar">

    <ul class="left-navbar">
        <li><a href='#'>Ofertas</a></li>
        <li><a href='#'>Tiendas Oficiales<a></li>
        <li><a href='#'>Vender</a></li>
        <li><a href='#'>Ayuda</a></li>
    </ul>

    <ul class="right-navbar">
        <li><a href='/register'>Crea tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
     </ul>
</nav>

</header>

<!-- ======================================MAIN*======================================================= -->
<main> 
    <div class="div-banner">
        <img class="banner" src="/img/img-home-banner.jpg" alt="banner">
    </div>

                             <!-- ACA SECCION ULTIMA VISITA -->
    <h2 class="titulares">Basado en tu última visita</h2>
   <section>                  
        <article>
            <img class="imagen-producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
            
               <div class="precio-oferta-des-des"> 
                   <i class="fas fa-truck"></i> 
                   <div class="precio-y-dto">
                    <p class='precios'>$6.770</p>
                     <p class="descuentos"> 40% OFF</p>
                    </div>
                   <p class="descripciones"> Cafetera Moulinex Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </article>

        <article>
            <img class="imagen-producto" src="/img/img-macbook-pro-2019.jpg" alt="macbook">
            <div class="precio-oferta-des-des">
                <i class="fas fa-truck"></i> 
                <div class="precio-y-dto">
                   <p class='precios'>$230.000</p>
                   <p class="descuentos">20% OFF</p>
                </div>
                   <p class="descripciones">MacBook Pro 2019 Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </article>

        <article>
            <img class="imagen-producto" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            <div class="precio-oferta-des-des">
                <i class="fas fa-truck"></i> 
                <div class="precio-y-dto">
                   <p class="precios">$70.500</p>
                   <p class="descuentos">10% OFF</p>
                </div>
                   <p class="descripciones">Samsung Galaxy S10 Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </article>

        <article>
            <img class="imagen-producto" src="/img/img-tv-samsung-smart.jpg" alt="tv smart">
            <div class="precio-oferta-des-des">
               <i class="fas fa-truck"></i> 
               <div class="precio-y-dto">
                   <p class="precios">$23.200</p>
                   <p class="descuentos">5% OFF</p>
                </div>
                   <p class="descripciones">SmartTv Samsung 43" Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </article>
   </section>
                                <!-- ACA LA SECCION OFERTAS -->

<h2 class="titulares">OFERTAS</h2>
   <section>
         
           <article>
        <img class="imagen-producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
        
           <div class="precio-oferta-des-des"> 
               <i class="fas fa-truck"></i> 
             <div class="precio-y-dto">
               <p class="precios">$6.770</p>
               <p class="descuentos"> 40% OFF</p>
            </div>
               <p class="descripciones"> Cafetera Moulinex Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </article>

    <article>
        <img class="imagen-producto" src="/img/img-macbook-pro-2019.jpg" alt="macbook">
        <div class="precio-oferta-des-des">
            <i class="fas fa-truck"></i> 
            <div class="precio-y-dto">
               <p class="precios">$230.000</p>
               <p class="descuentos">20% OFF</p>
            </div>
               <p class="descripciones">MacBook Pro 2019 Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </article>

    <article>
        <img class="imagen-producto" src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
        <div class="precio-oferta-des-des">
            <i class="fas fa-truck"></i> 
            <div class="precio-y-dto">
               <p class="precios">$70.500</p>
               <p class="descuentos">10% OFF</p>
        </div>
               <p class="descripciones">Samsung Galaxy S10 Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </article>

    <article>
        <img class="imagen-producto" src="/img/img-tv-samsung-smart.jpg" alt="tv smart">
        <div class="precio-oferta-des-des">
           <i class="fas fa-truck"></i> 
           <div class="precio-y-dto">
               <p class="precios">$23.200</p>
               <p class="precios">5% OFF</p>
        </div>
               <p class="descripciones">SmartTv Samsung 43"Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </article>

   </section>
   <!-- formulario -->
   <form action="/crear-producto" method="POST">

</form>
</main>
<!-- ===================================FOOTER============================== -->
    <footer>
      <section class="footer-seccion-1">
          <article>
            <i class="fas fa-credit-card icono-footer"></i>
              <h3>Pagá con tarjeta o efectivo</h3>
              <p>Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o en efectivo en puntos de pago.¡Y siempre es seguro!</p>
          </article>
          <article>
            <i class="fas fa-gift icono-footer"></i>
            <h3>Envío gratis desde los $2500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenes envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
        </article>
        <article>
            <i class="fas fa-user-shield icono-footer"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@</p>
        </article>
      </section>
      <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>