<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  </head>
  <body>
    <!-- ======================================MAIN========================================= -->
    <main>
      <h1>INGRESÁ</h1>
      <form action="#" method="POST">
        <fieldset id="fieldset">
          <input
            type="text"
            name="Nombre de Usuari@"
            id="Nombre de Usuari@"
            required
            placeholder="Nombre de Usuari@"
          />

          <input
            type="password"
            name="Contraseña"
            id="Contraseña"
            required
            placeholder="Contraseña"
            minlength="6"
          />

          <button type="submit">Ingresar</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
