* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
/*======================================HEADER====================================================*/
.main-header {
  background-color: #eac926;
  padding: 10px;
}

.main-header-top-bar {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  flex-wrap: wrap;
}

.logo {
  max-width: 50%;
  max-height: auto;
}
.copy-header {
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}
/*-------------------------- search bar*/

.barra-de-busqueda-form {
  width: 50%;
}
.barra-de-busqueda-fieldset {
  display: flex;
  border: 0;
}
#search {
  width: 75%;
  margin: 0;
  border: #222222 solid 2px;
}
.barra-de-busqueda-form input#search {
  background: #2b303b;
  border: none;
  font-size: 12px;
  color: #adb5be;
  padding-left: 10px;
  border-radius: 5px;
}

.icono-busqueda {
  width: 25%;
  margin-top: 2px;
  margin-left: 5px;
}
.icono-busqueda i {
  background-color: white;
  color: orange;
  font-size: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}

/* -------------------------Boton hamburguesa */
.boton-hamburguesa {
  padding: 8px 5px;
  max-width: 35px;
  background-color: #1259c3;
  color: white;
  text-align: center;
  font-size: 15px;
  margin: auto;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}

.main-navbar {
  display: none;
}
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
}

/*=========================================MAIN==================================================*/
main {
  margin: auto;
  background-color: #ebebeb;
}

.banner {
  width: 100%;
}
main section {
  display: flex;
  flex-direction: column;
}

.imagen-producto {
  max-width: 90%;
}

main article {
  margin-bottom: 10px;
  background-color: #fff;
  margin: auto;
  max-width: 90%;
}

.precio-oferta-des-des {
  border-top: solid 1px #ebebeb;
  border-bottom: solid 12px #ebebeb;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
}

.precio-y-dto {
  display: flex;
  flex-wrap: wrap;
}

.titulares {
  font-size: 24px;
  text-align: center;
  margin: 5vw;
  padding-top: 2vw;
}

.precios {
  font-size: 18px;
}

.descuentos {
  font-size: 16px;
  margin-left: 5px;
  text-align: center;
  color: green;
  display: flex;
  align-items: center;
}

.descripciones {
  font-size: 16px;
  display: none;
}

.titular {
  text-align: center;
  margin: 5%;
  padding-top: 5%;
  font-size: 1em;
}
/* logo de envio */
.precio-oferta-des-des {
  position: relative;
}
main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  color: #39b54a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

/*======================================FOOTER==========================================*/

footer {
  background-color: rgb(226, 225, 202);
  text-align: center;
  padding: 5vh;
}

.compra-en-cuotas {
  text-align: center;
}

footer article {
  margin: 3vh;
}

.icono-footer {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #1259c3;
}

/* ******************************************************************************* */
/*=============================MEDIA QUERIES===================================*/

/* navegacion en tablets */
@media (min-width: 361px) {
  /*HEADER*/

  .boton-hamburguesa {
    display: none;
  }
  .main-header-top-bar {
    align-items: center;
  }

  .logo {
    max-width: 33%;
  }
  .barra-de-busqueda {
    max-width: 33%;
  }
  .div-copy-header {
    max-width: 33%;
  }
  .copy-header {
    margin-top: 5px;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 5px;
    text-align: center;
  }
  .left-navbar {
    max-width: 40%;
  }

  .right-navbar {
    max-width: 40%;
  }

  .barra-de-busqueda-form {
    width: 30%;
  }
  /*MAIN*/
  .descripciones {
    display: block;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  article:hover .descripciones {
    visibility: visible;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 1px #39b54a;
  }

  main article {
    max-width: 40%;
  }

  main article:hover {
    box-shadow: 0px 0px 10px rgb(98, 89, 133);
  }

  main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
}

/* navegación en desktop */
@media (min-width: 769px) {
  .logo {
    width: 250px;
  }
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
  }

  .main-navbar {
    margin-top: 10px;
  }
  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
  .copy-header {
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
  }
  .div-copy-header {
    max-width: 33%;
  }

  main article {
    max-width: 20%;
  }
  main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  main section article i {
    transition: transform 0.8s cubic-bezier(0.72, -0.85, 0.47, 1.43);
  }
  main section article i:hover {
    transform: rotateZ(360deg);
  }

  /* FOOTER desktop queries*/

  .footer-seccion-1 {
    display: flex;
    justify-content: space-between;
  }

  .icono-footer {
    transition: all 0.3s ease-in-out;
  }
  .icono-footer:hover {
    color: #5b8fde;
    font-size: 30px;
  }
}
